.board {
  margin: 0 auto;
  padding: 10px;
  height: 350px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  margin: 6px;
  text-align: center;
  vertical-align: middle;
  line-height: 12vh;
  font-size: xx-large;
  color: black;
  transition: 0.3s;
}

.tile :hover {
  cursor: pointer;
  background-color: #1c46bc;
  color: white;
  background-color: gray;
}
