.board {
  margin: 0 auto;
  padding: 10px;
  height: 350px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  margin: 6px;
  text-align: center;
  vertical-align: middle;
  line-height: 12vh;
  font-size: xx-large;
  color: black;
  transition: 0.3s;
}

.empty:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.338);
}

.status {
  margin: 0 auto;
  background-color: gray;
  font-size: x-large;
  width: 350px;
  height: 40px;
  text-align: center;
}

.won {
  background-color: palegreen;
}

.draw {
  background-color: orange;
}

.gameOver {
  pointer-events: none;
  height: fit-content;
  width: 350px;
  font-size: xxx-large;
  padding: 0.9rem 0;
}

.game {
  margin: 0 auto;
}
