.board {
  margin: 5rem auto;
  padding: 10px;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 12vh;
  font-size: xx-large;
  color: black;
  transition: 0.3s;
}

.empty:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.153);
}

.message {
  margin: 5rem auto;
  background-color: gray;
  font-size: x-large;
  width: 350px;
  height: 40px;
  text-align: center;
}

.won {
  background-color: palegreen;
}

.drawn {
  background-color: orange;
}

.gameOver {
  pointer-events: none;
  height: fit-content;
  width: 350px;
  font-size: xxx-large;
  padding: 0.9rem 0;
}

.game {
  margin: 0 auto;
}

.tile_0 {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.tile_1 {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.tile_2 {
  border-bottom: 2px solid gray;
}

.tile_3 {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.tile_4 {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
}

.tile_5 {
  border-bottom: 2px solid gray;
}

.tile_6 {
  border-right: 2px solid gray;
}

.tile_7 {
  border-right: 2px solid gray;
}
